@charset "utf-8";

/* CSS Document */

body{
    background-color: Black;
    color: #ffffff;
	/* font-family: Open Sans; */
	font-family: monospace;
	margin-top: 0%;
	background-repeat: no-repeat;
	background-size: 200vh;
	background-image: url(https://pixnio.com/free-images/2017/09/07/2017-09-07-07-28-13-1100x728.jpg);
}

h1 {
	text-align: center;
	font-size: 3vw;
	font-style: bold;
}

h3 {
	text-align: left;
		
}

input[type="radio"] {
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
}

.info{
	margin-left: 25%;
	margin-right: 25%;
	font-size: 1.5vw;
}

.sandstorm{
	font-size: 1.9vw;
	margin-top: 3%;
	margin-left: 3%;
	font-style: bold;
}


.line {
	font-style: bold;
	text-decoration: none !important;
}

.autohatch > button{ 
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
}
#yesLabel {
	font-style: italic;
}

#noLabel {
	font-style: italic;
}


#anicargo{
 margin-top:10px;
}

#hatches{
width:auto;
height:200px;
float:left;
}

#cargo{
width:auto;
height:200px;
margin-left:20px;
float:left;
}
