@charset "utf-8";

/* CSS Document */

body{
    background-color: Black;
    color: #ffffff;
	/* font-family: Open Sans; */
	font-family: monospace;
	margin-top: 0%;
	
	background-repeat: no-repeat;
	background-size: 200vh;
	background-image: url(https://pixnio.com/free-images/2017/09/07/2017-09-07-07-28-13-1100x728.jpg);
}

h1 {
	text-align: center;
	font-size: 3vw;
	font-style: bold;
}

input[type="radio"] {
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
}
.container {
	position: relative;
	text-align: center;
	display: block;
}

.enter {
	margin-left: 50%;
	margin-right: 50%;
	margin-top: 15%;
}
.enter > button{ 
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
}
.info{
	margin-left: 25%;
	margin-right: 25%;
	font-size: 1.5vw;
}
.sandstorm{
	text-align: left;
	display: inline-block;
	font-size: 1.9vw;
	font-style: bold;
	width: 33%;
}

.teleop {
	text-align: center;
	display: inline-block;
	font-size: 1.9vw;
	width: 33%;
}
#hatchCount,#cargoCount {
	margin-left: 25px;
}
#incHatch,#incCargo {
	margin-left: 25px;
}
.line {
	font-style: bold;
	text-decoration: none !important;
}

.mainbutton { 
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
}

#yesLabel,#noLabel {
	font-style: italic;
}