@charset "utf-8";

/* CSS Document */

body{
    background-color: Black;
    color: #ffffff;
	/* font-family: Open Sans; */
	font-family: monospace;
	margin-top: 0%;
}

h1 {
	text-align: center;
	font-size: 3vw;
}

#submit{
	margin-left: 50%;
	margin-right: 50%;
}
.basicinfo{
	float: none;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1vw;
}

#sandstorm{
	font-style: bold;
}


#crossline{
	font-style: bold;
}


#anihatch{

}


#anicargo{
 margin-top:10px;
}


#teleop{

}


#hatches{
width:auto;
height:200px;
float:left;
}


#cargo{
width:auto;
height:200px;
margin-left:20px;
float:left;
}
